@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
     --gradient-bg: linear-gradient(135deg, #0a0024, #18004a, #2b0080, #001442, #000a1b);
    --bg-color:	#210C3D;
    --second-bd-color: #5810bc;
    --text-color: #fff;
    --main-color: #0d436c;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
  background: var(--gradient-bg);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  color: var(--text-color);
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.15); 
  pointer-events: none;
  z-index: -1;
}
section{
    min-height: 100vh;
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active{
    color: var(--second-bd-color);
}
#menu-icon{
    display: none;
    font-size: 1.7rem;
    color: var(--text-color);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem 9%;
}

.home-img img{
    width: 35vw;
  border-radius: 4rem;
   border: 0.2rem solid var(--main-color);
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2){
    margin-bottom: 1rem;
}

span{
    color: var(--second-bd-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  font-size: 1.8rem;
  color: #beaca7;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: var(--gradient-bg); 
  transform: scale(1.2);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--second-bd-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--second-bd-color);
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 20px;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-img img {
    width: 35rem;
    margin: 20px;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: center;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 1.6rem;
    text-align: center;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: center;
}
.about-content {
    text-align: center;
}
.service {
    padding: 5rem 9%;
}
.service h2 {
    margin-bottom: 5rem;
}
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-container .service-box {
    padding: 3rem 2rem 4rem ;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-radius: 2rem;
    flex: 1 1 33rem;
}
.service-container .service-box:hover{
    border-color: var(--second-bd-color);
    transform: scale(1.02);
}
.service-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.portfolio h2 {
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 20px;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    color: var(--text-color);
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
.btn:hover {
    background: transparent;
    color: var(--second-bd-color);
    border: 0.2rem solid var(--second-bd-color);
    box-shadow: 0 0 1.5rem var(--second-bd-color);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon a:hover{
    box-shadow: 0 0 1rem var(--bg-color);
}
.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}
@media (max-width: 1200px) {
  .html {
    font-size: 55%;
  }
}
@media (max-width:991px) {
    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 3% 2rem;
    }
    .service {
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:786px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem  rgba(0,0,0,.2);
        display: none;        
    }
.navbar.active{
    display: block;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}
.home{
    flex-direction: column;
}
.home-content h3 {
    font-size: 2.6rem;
}
.home-content h1 {
    font-size: 5rem;
}
.home-img img {
    width: 70vw;
    margin-top: 4rem;
}
.about {
    flex-direction: column-reverse;
}
.about-img  img{
    width: 70vw;
    margin-top: 4rem;
    align-items: end;
}
.service  h2{
    margin-bottom: 3rem;
}
.portfolio h2 {
    margin-bottom: 3rem;
}
.portfolio-container{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }   
}
@media (max-width:450px) {
    .html{
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}
@media (max-width:365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 70vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}



